.form-control {
    display: block;
    width: 80%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

.form-group {
    margin-bottom: 15px;
    margin-left: 25%;
    margin-right: 10%;
    padding-left: 10;
    margin-bottom: 10%;
    width:75%;

}

a:hover {
    text-decoration: none;
}

.form-control-app-info-popup{
    display: block;
    margin-left: 30px;
    width: 80%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

#add_app_view_2{
    
    float: right;
    width: 50%;
}

#add_app_view_1{
    
    float: left;
    width: 50%;
}


#left-side-view{
    width: 25%;
   
    float: left;
    width: 25%;

}

#right-side-view{
    width: 25%;
    float: right;
    width: 75%;
    height: auto;
    
}

#app{
    margin-top: 5%;
}

#signin-view{
    width: 400px;
    height: 400px;
    margin-left: 35%;
    padding: 15px;
    box-shadow: 12px;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc;

}

#server-error-msg{
    color : red;
}

/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;

    color : white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 600px;
    height: 330px;
    background-color: #f9f8f8;
    color: #2b629e;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    /* bottom: 125%; */
    left: 50%;
    margin-left: px;
    margin-top: -100px;

  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  #loading {
    background: url('/images/load-spinner-small.gif') no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999;
    display: none;
}

/* New Design */

.top-nav-bar{
    padding: 20px;
    background: #3b4a6b;
    width: auto;
    height: 66px ;
    width: auto;
    box-shadow: 0 4px 8px 0 rgba(1, 1, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
 .left-side-bar{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    width: calc(20% - 10px);
    height: calc(100% - 15px);
    background: #3b4a6b;
    box-shadow: 0 4px 8px 0 rgba(1, 1, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;

    float: left;

 }

 .right-side-bar{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    width: calc(80% - 20px);
    height: calc(100% - 20px);
    float: right;
}
 

 .left-side-bar-icon-base > img {
    border: 0;
    margin: 10px;
}

 .left-side-bar-icon-base{
    display: flex;
    align-items: center;
    border: 0.5px solid  #3a415d;
 }

 .left-side-bar-icon-base:hover {
     background: #d3d3d626;
 }
 .left-side-bar-icon-base:active {
    background: #d3d3d626;
}

 .left-side-bar-icon-title{
    box-sizing: border-box;
    color: white;
    padding-inline-start: 15px;
 }

 .left-side-bar > h2{
     color: white;
     box-sizing: border-box;
 }

 .app-logo{
    color: #565555;
    background: #a1e6a1;
    height: 40px;
    margin-top: -20;
    text-align: center;
    font-stretch: 300;
    font-family: monospace;
 }

 .app-in-view{

    margin-left: 2%;
    margin-right: 40px;
    height: calc(100% - 120px);
    box-shadow: 0 4px 8px 0 rgba(1, 1, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    border: 2px solid #e4e0e3;
 }
 .app-text{
    color: #696975;
    font-weight: bold;
 }

 .app-in-top-view{
    margin-left: 100px;
    width: 1000px;
    height: 100px;
    position: relative;
    margin-top: 25px;
 }


 .app-option-wrapper {
    width: 150px;
    border: 1px solid #80808087;
    top: 0px;
    position: relative;
    left: 83px;
    display: none;
    border-radius: 5px;
    background-color: white;
    height: 155px;
    overflow-y: auto;

}

.app-option-wrapper .app-list {
    margin: 0;
    padding: 0;
}

.app-li {
    position: relative;
    list-style: none;
    cursor: pointer;
    padding: 5PX;
    border-bottom: 1px solid #80808033;
}

.app-li:hover {
    background-color: gray
}

.app-li >a {
    margin-left: 10px;
    color: black;
}
.select-app-option {
    width: 150px;
    border: 1px solid #80808087;
    height: 40px;
    margin-left: 10px;
    border-radius: 5px;
    outline: none;
    margin-right: 42px;
}
.select-app-option > img{
    width: 10px;
    margin-left: 22px;
}

.select-app{

    height: 40px;
    width: 300px;
    float: left;
}

.app-title{
    height: 40px;
    margin-left: -75px;
}
.app-in-view-nav-bar {
    width: 100%;
    height: 50px;
    background: #a1e6a1;
    /* box-shadow: 0 4px 8px 0 rgba(1, 1, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    border-radius: 10px;
    border: 2px #e4e0e3;
}

a.app-in-view-icon-base {
    /* display: flex; */
    align-items: center;
    border: 0.5px solid #3a415d;
    display: inline-grid;
    padding: px;
    padding: 5px;
}

.app-in-view-bar-icon-base > img{
    margin: 15px;
    
}

.new-app-btn > img{
    width: 15px;
    margin-right: 6px;
}

.app-in-view-bar-icon-base{
    display: inline-flex;
    align-items: center;
    padding-right: 10px;
}

.app-in-view-icon-title{
    color: #4e4949;
    font-weight: bold;
    margin-left: -10px;
}

.app-in-view-bar-icon-base:hover{
    background: #d6e4d6;  
}

.app-in-bottom-view {
    width: 100%;
    height: calc(100% - 50px);
    overflow-y: auto;
}

.profile-info-view{
    width: 80%;
    margin-left: 50px;
    margin-top: 20px;
    height: auto;
}

input[type=text], select {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .new-app-btn{
    background-color: #384f79;
    color: white;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    width: 120px;
    height: 35px;
    border-radius: 5px;
    /* float: right; */
  }

  .overlay{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:  rgba(44, 47, 62, 0.5);
    z-index: 2;
    cursor: pointer;
  }

  .new-app-popup{
    display: none;
    position: absolute;
    width: 650px;
    height: 400;
    z-index: 2;
    left: 750;
    top: 200px;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    background-color: rgb(0,0,0);
    background-color: white;
    border-radius: 4px;
    padding: 20px;
    overflow-wrap: break-word;
  }

  .main-bottom-view{
    position: relative;
    height: calc(100vh - 66px);
  }

  .create-app-btn {
    background-color: #5fcc80;
    color: white;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    width: 120px;
    height: 35px;
    border-radius: 5px;
    margin-left: 460px;
    color: #4e4b4b;
    font-weight: bold;
}